<app-nav-menu></app-nav-menu>
<div class="login-body">
  <div class="login-card">
    <div class="login-content">
      <div class="login-content">
        <h1>Đăng nhập</h1>
        <p>Vui lòng đăng nhập vào hệ thống.</p>
        <div class="ui-fluid">

          <div class="p-field">
            <label for="username">Tên đăng nhập</label>
            <input id="username" type="text" pInputText>
          </div>

          <div class="p-field">
            <label for="password">Mật khẩu</label>
            <input id="password" type="password" pInputText>
          </div>

          <div>
            <p-button label="Đăng nhập">
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

